* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headbar {
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: #ffffff;
}
.nava {
    color: #44b787;
    text-decoration: none;
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 19px;
    text-align: center; 
    position: relative;
    top: 60%;  
    left: 205%;
}
.main {
    margin-right: 4%;
}
.commonQues{
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    text-align: center; 
}
.faq-section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.faq-container {
    margin: 20px 0;
}
.faq-toggle {
    font-size: 18px;
    color: #777;
}
.faq {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
}
.question h3 {
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for floating effect and color change */
    color: #000000; /* Default text color */
}

.question h3:hover {
    transform: translateY(-3px); /* This makes the text float */
    color: #44b787 /* Optional: Changes text color on hover */
}

.answer {
    display: none;
}
.answer.open {
    display: block;
    padding-left: 20px;
}

.home {
    width: 216px;
    height: 61.7px;
    position: relative;
    top: 24%;  
    left: -130%

}