/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #44b787, #3ca877);
    padding: 15px 10%;
}

.navbar .logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}


.navbar .nav-links li a:hover,
.navbar .nav-links li a.active {
    color: #ffffff;
}

/* Contact Section Styling */
.contact-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background: linear-gradient(120deg, #ffffff, #e6f7f1);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contact-section h1 {
    color: #44b787;
    margin-bottom: 20px;
    font-size: 35px
}

.contact-section p {
    color: #555;
    margin-bottom: 30px;
    font-size: 18px;
}

.contact-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.contact-form label {
    color: #555;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #44b787;
    outline: none;
}

.contact-form .submit-btn {
    background-color: #44b787;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.contact-form .submit-btn:hover {
    background: linear-gradient(90deg, #3ca877, #319d6d);
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #44b787;
    color: #fff;
}

.home {
    width: 216px;
    height: 61.7px;
    position: relative;
    top: 24%;  
    left: -10%

}

.contact-info {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #44b787;
    top: 24%;  
    text-align: left;
    left: 50%
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
    left: 50%;

}

.contact-info a {
    color: #44b787;
    text-decoration: none;
    text-align: left;
    left: 50%;
    
}
