body {
  background-color: #f4f7f6;
  font-family: Arial;
}
.app {
  display: flex;
}

.buttons {
  padding: 12px;
  background-color: #44b787;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.buttons:hover {
  background-color: #80d6b2;
  transform: scale(1.02); 
}

.mainContent {
  width: 100%;
  flex: 1;
  padding:  40px;
  background-color: #f4f4f4;
  height: auto;
  overflow-y: auto;
}
/* 遮罩相關 */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;  /* 設置比背景遮罩更高的層級 */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
}

.modal_content {
  display: flex;
  flex-direction: column;
}

.modal_content p{
  font-size: 24px;
  margin: 10px;
  padding: 10px;
}

/* 背景遮罩 */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);  /* 半透明背景 */
  z-index: 1000;  /* 設置比內容更低的層級 */
}