body {
  background-color: #f4f7f6;
  font-family: Arial;
}
.app {
  display: flex;
}

.mainContent {
  width: 100%;
  margin-left: 15%;
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  height: 100vh;
  overflow-y: auto;
}
