/* .logout-button {
  background-color: #44b787;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: inline-block; 
  margin-top: 10px; 
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #2F9C95;
} */
