.portalPage {
  text-align: center;
  padding: 20px;
}


.serviceButtons button {
  margin: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: solid;
  border-color: #44b787;
  background-color: white;
  color: #44b787;
}
.serviceButtons button:hover { 
  background-color: #baead0;
  /* color: white; */
}

.modeDescription {
  top: 35%;
  left: 39%;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 500px;
  height: 270px;
  margin: 0 auto;
}

.nextStepButton {
position: relative;
  margin-top: 30px;
  padding: 10px 50px;
  font-size: 16px;
  background-color: #44b787;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nextStepButton:hover {
  background-color: #44b787;
}

